
body
{
    background-color: black;
    background-image: url("etoiles.png");
    background-attachment:fixed;
    background-position:center center;
    background-size: 1900px;
    font-family: Dayrom, serif;
    color: rgb(233, 16, 16);
}

#block-page
{
    width: 1300px;
    margin: auto;
}

#horreur
{
    font-family: 'Comforter Brush', cursive;
    font-family: 'Rock Salt', cursive;
}

#horreur2
{
    font-family: 'Fuzzy Bubbles', cursive;
}

section h1, footer h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #dd1010;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #dd1417;
    border-bottom: 3px solid #d40e11;
}

#menu-deroulant
{
    margin-top: 15px;
    height: 700px;
    border-radius: 5px;
    background: url(BLAIR.png) no-repeat;
    background-position: center;
    position: relative;
    margin-bottom: 25px;
}

aside
{
    flex: 1.2;
    position: relative;
    background-color: black;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    color: rgb(216, 19, 19);
    font-size:medium;
}

table
{
    flex: 1.2;
    position: relative;
    background-color: black;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: rgb(216, 19, 19);
    font-size:medium;
    top: 10px;
    left: 300px;
    border-collapse: collapse;
}

td
{
    border: 1px solid rgb(230, 11, 11);
    font-size: 40px;
    text-align: center;
}

th
{
    font-size: 40px;
}
.left p
{
    text-align: right;
    font-size: 22px;
}

.START 
{
    float:left;
    background-position: center;
}

#cool
{
    display: flex;
    text-align: center;
}

#fin
{
    vertical-align: middle;
    margin-right: 8px;
}

.section
{
    flex: 1.2;
    position: relative;
    text-align: center;
    padding: 10px;
    color: rgb(216, 19, 19);
    font-size:medium;
}

.phrase
{
    position: relative;
    text-align: center;
}

#fin
{
    padding: 20px;
}

#fin ul
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#fin h1
{
    position: relative;
    text-align: center;
}

#contacter a
{
    position: relative;
    text-align: center;
    font-size: 1.3em;
    color: rgb(0, 4, 248);
    padding-bottom: 3px;
    text-decoration: none;
}

#contacter ul
{
    position: relative;
    text-align: center;
    list-style-type: none;
    display: flow-root;
}

#contacter li
{
    margin-top: 15px;
    margin-bottom: 15px;
}

h1 a
{
    font-size: 30px;
    color: rgb(0, 4, 248);
}

#texte2
{
    flex: 1.2;
    position: relative;
    background-color: black;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    color: rgb(216, 19, 19);
    font-size:medium;
    margin-bottom: 50px;

}

.souligner 
{
    text-decoration:underline;
}
